h1{
    color: rgba(57, 9, 168, 0.541);
    align-items: center;
    margin-bottom: 5%;
    margin-left: 45%;
    justify-content: center;



}

body{
    background-color:rgba(0, 140, 255, 0.219);
}

.head{
    background-color: blue;
    padding: 2%;
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
    border-color: white;
	color: white;
	text-decoration: none;
    font-size: 20px;
    width: calc( 100% - 60px);
	
	
}

.navb{

    margin-left: auto;
    word-spacing: 1rem;
    font-size: 22px;

    
    
	
}